# Common IntelliJ Platform excludes

/.idea

/Source/Tests/OutputFiles
/Source/Tests/pretrained_models

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

# SpleeterMsvcExe
SpleeterMsvcExe-v1.0/